$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap/scss/bootstrap';
@import 'color';
@import 'theme';

$black: #000;
$red: rgb(240, 128, 128);

.footer {
  background-color: $red;
  bottom: 0;
  color: $black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 25%;
  justify-content: auto;
  overflow-y: auto;
  position: auto;
  text-align: auto;
  width: 50%;
}

.header {
  height: 50%;
}

// .bg {
//   background-image: url('../mtg_background.jpg');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 100%;
// }
