body {
  background-color: $main-background-color;
  color: $font-color;
  overflow-y: auto;
}

div {
  border: $font-color 2px solid;
  overflow-y: auto;
  padding: 30px;
  text-align: center;
}

button {
  background-color: $secondary-background;
  color: $font-color;
}

.content {
  border: $font-color 2px solid;
  color: $font-color;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: auto;
  padding: 5px;
  text-align: center;
}
